[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "content/docs/asir-add"]
	path = content/docs/asir-add
	url = https://github.com/ymorgil/asir-add
